<div id="album-form" class="row" ng-show="!loading">
  <div class="col-sm-8 col-sm-offset-2 text-center jumbotron">
    <span>Title: {{album.title}}</span><br>
    <span>Date: {{album.date}}</span><br>
    <span>Description: {{album.description}}</span>
  </div>

  <div class="col-sm-8 col-sm-offset-2">
    <h4>Songs</h4>

    <div class="list-group" ng-repeat="song in album.songs" style="margin:0px;">
      <a href="{{song.url}}" class="list-group-item">
        {{$index + 1}} {{song.title}}
      </a>
    </div>
  </div>
</div>

<p class="text-center" ng-show="loading">
  <span class="fa fa-spinner fa-spin fa-3x"></span>
</p>
