<div id="album-form" class="row" ng-show="!loading">
  <div class="col-sm-8 col-sm-offset-2 text-center jumbotron">
    <form>
      <div class="col-sm-10">
        <input type="text" class="form-control input-lg text-center" placeholder="Enter album title..." ng-model="formData.title">

        <date-picker bind="formData.date"></date-picker>

        <input type="text" class="form-control input-lg text-center" placeholder="Enter album description..." ng-model="formData.description">
      </div>
      <div class="col-sm-2">
        <button type="submit" class="btn btn-primary btn-lg" ng-click="updateAlbum()">Update</button>
        <br><br>
        <input type="checkbox" ng-model="formData.published"> Published?
      </div>
    </form>
  </div>

  <div class="col-sm-8 col-sm-offset-2 text-center">
    <h4>Songs</h4>
    <ui-select ng-model="select.selected" theme="bootstrap" ng-disabled="disabled" reset-search-input="true">
      <ui-select-match placeholder="Enter a song..."></ui-select-match>
      <ui-select-choices repeat="song in query_songs track by $index" refresh="refreshSongs($select.search)" refresh-delay="0">
        <div ng-bind-html="song.title | highlight: $select.search"></div>
      </ui-select-choices>
    </ui-select>

    <ul data-as-sortable="dragControlListeners" ng-model="album.songs">
      <li ng-repeat="song in album.songs" data-as-sortable-item>
        <div data-as-sortable-item-handle>
          <span class="pull-left">&nbsp&nbsp{{$index + 1}}&nbsp&nbsp</span>
          {{song.title}}
          <a data-no-drag class="pull-right btn btn-xs" ng-click="removeSong(song)">
            <span class="glyphicon glyphicon-remove"></span>
          </a>
        </div>
      </li>
    </ul>
  </div>

</div>

<p class="text-center" ng-show="loading">
  <span class="fa fa-spinner fa-spin fa-3x"></span>
</p>
