#album-form.row{"ng-show" => "!loading"}

  .col-sm-8.col-sm-offset-2.text-center.jumbotron

    %form
      .col-sm-10
        %input.form-control.input-lg.text-center{"ng-model" => "formData.title", :placeholder => "Enter album title...", :type => "text"}
        %date-picker{:bind => "formData.date"}
        %input.form-control.input-lg.text-center{"ng-model" => "formData.description", :placeholder => "Enter album description...", :type => "text"}

      .col-sm-2
        %button.btn.btn-primary.btn-lg{"ng-click" => "updateAlbum()", :type => "submit"} Update
        %br
        %br
        %input{"ng-model" => "formData.published", :type => "checkbox"}
        Published?

  .col-sm-8.col-sm-offset-2.text-center
    %h4 Songs

    %ui-select{"ng-disabled" => "disabled", "ng-model" => "select.selected", "reset-search-input" => "true", :theme => "bootstrap"}
      %ui-select-match{:placeholder => "Enter a song..."}
      %ui-select-choices{:refresh => "refreshSongs($select.search)", "refresh-delay" => "0", :repeat => "song in query_songs track by $index"}
        %div{"ng-bind-html" => "song.title | highlight: $select.search"}

    %ul{"data-as-sortable" => "dragControlListeners", "ng-model" => "album.songs"}
      %li{"data-as-sortable-item" => "", "ng-repeat" => "song in album.songs"}
        %div{"data-as-sortable-item-handle" => ""}
          %span.pull-left
            &nbsp&nbsp{{$index + 1}}&nbsp&nbsp
          {{song.title}}
          %a.pull-right.btn.btn-xs{"data-no-drag" => "", "ng-click" => "removeSong(song)"}
            %span.glyphicon.glyphicon-remove

%p.text-center{"ng-show" => "loading"}
  %span.fa.fa-spinner.fa-spin.fa-3x
