<div id="album-form" class="row">
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <form>

      <div class="input-group">
        <input type="text" class="form-control input-lg text-center" placeholder="Enter album title..." ng-model="formData.title">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary btn-lg" ng-click="createAlbum()">Add</button>
        </span>
      </div>

    </form>
  </div>
</div>

<div id="album-list" class="row">
  <div class="col-sm-8 col-sm-offset-2 text-left">

    <div class="checkbox" ng-repeat="album in albums">
      <button class="btn btn-danger btn-xs" ng-click="deleteAlbum(album._id)">x</button>
      <a href="/admin/albums/{{album._id}}">{{album.title}}</a>
    </div>
    <p class="text-center" ng-show="loading">
      <span class="fa fa-spinner fa-spin fa-3x"></span>
    </p>

  </div>
</div>
