#album-form.row
  .col-sm-8.col-sm-offset-2.text-center
    %form
      .input-group
        %input.form-control.input-lg.text-center{"ng-model" => "formData.title", :placeholder => "Enter album title...", :type => "text"}

        %span.input-group-btn
          %button.btn.btn-primary.btn-lg{"ng-click" => "createAlbum()", :type => "submit"} Add

#album-list.row
  .col-sm-8.col-sm-offset-2.text-left
    .checkbox{"ng-repeat" => "album in albums"}
      %button.btn.btn-danger.btn-xs{"ng-click" => "deleteAlbum(album._id)"} x
      %a{:href => "/admin/albums/{{album._id}}"}
        {{album.title}}

    %p.text-center{"ng-show" => "loading"}
      %span.fa.fa-spinner.fa-spin.fa-3x
