.container
  .row
    %h1.text-center.login-title Sign up
    .col-sm-6.col-md-4.col-md-offset-4.signup-well
      %form.form{:name => "form", "ng-submit" => "register(form)"}

        .form-group{"ng-class" => "{'has-warning': form.email.$dirty, 'has-success': form.email.$valid && form.email.$dirty && !form.email.$error.mongoose, 'has-error': form.email.$invalid && form.email.$dirty || form.email.$error.mongoose}"}
          %input.form-control{:autofocus => "", "mongoose-error" => "", :name => "email", "ng-model" => "user.email", "on-focus" => "", :placeholder => "Your Email", :required => "", :type => "email"}
          %p.help-block{"ng-show" => "form.email.$error.email && !form.email.$focused"}
            Not a valid email.
          %p.help-block{"ng-show" => "form.email.$error.mongoose"}
            {{ errors.email }}

        .form-group{"ng-class" => "{'has-warning': form.username.$dirty, 'has-success': form.username.$valid && form.username.$dirty && !form.username.$error.mongoose, 'has-error': form.username.$invalid && form.username.$dirty || form.username.$error.mongoose}"}
          %input.form-control{"mongoose-error" => "", :name => "username", "ng-model" => "user.username", :placeholder => "Username", :required => "", :type => "text", "unique-username" => ""}
          %p.help-block{"ng-show" => "form.username.$error.unique && form.username"}
            That username is already taken.
          %p.help-block{"ng-show" => "form.password.$error.mongoose"}
            {{ errors.username }}

        .form-group{"ng-class" => "{'has-warning': form.password.$dirty, 'has-success': form.password.$valid && form.password.$dirty && !form.password.$error.mongoose, 'has-error': form.password.$invalid && form.password.$dirty || form.password.$error.mongoose}"}
          %input.form-control{"mongoose-error" => "", :name => "password", "ng-minlength" => "5", "ng-model" => "user.password", :placeholder => "Password", :required => "", :type => "password"}
          %p.help-block{"ng-show" => "(form.password.$error.minlength || form.password.$invalid) && form.password.$dirty && !form.password.$error.required"}
            Password must be at least 5 characters.
          %p.help-block{"ng-show" => "form.password.$error.mongoose"}
            {{ errors.password }}

        %br
        %button.btn.btn-lg.btn-primary.btn-block{"ng-disabled" => "form.$invalid", :type => "submit"} Sign up
