#admin-songs-index.row
    .col-sm-8.col-sm-offset-2.text-center
        form
          .input-group
            input.form-control.input-lg.text-center(type='text', placeholder='Enter song title...', ng-model='formData.title')

            span.input-group-btn
              button.btn.btn-primary.btn-lg(type='submit', ng-click='createSong()') Add
    #song-list.row
      .col-sm-8.col-sm-offset-2.text-left
        .checkbox(ng-repeat='song in songs')
          button.btn.btn-danger.btn-xs(ng-click='deleteSong(song._id)') x

          a(href='/admin/songs/{{song._id}}') {{song.title}}

        p.text-center(ng-show='loading')
          span.fa.fa-spinner.fa-spin.fa-3x
