.input-group.input-group-lg{:style => "margin-bottom:10px;"}
  %input.form-control.text-center{"close-text" => "Close", "datepicker-popup" => "yyyy/MM/dd", "is-open" => "opened", "ng-model" => "bind", :type => "text"}/
  %span.input-group-btn
    %button.btn.btn-default{"ng-click" => "open($event)", :type => "button"}
      %i.glyphicon.glyphicon-calendar
