.input-group.input-group-lg(style='margin-bottom:10px;')
    input.form-control.text-center(type='text', datepicker-popup='yyyy/MM/dd', ng-model='bind', is-open='opened', close-text='Close')

    span.input-group-btn
      button.btn.btn-default(type='button', ng-click='open($event)')
        i.glyphicon.glyphicon-calendar
