<div id="song-form" class="row">
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <form>

      <div class="input-group">
        <input type="text" class="form-control input-lg text-center" placeholder="Enter song title..." ng-model="formData.title">
        <ja-date-picker bind="formData.date"></ja-date-picker>
        <input type="text" class="form-control input-lg text-center" placeholder="Enter song lyrics..." ng-model="formData.lyrics">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary btn-lg" ng-click="updateSong()">Update</button>
        </span>
      </div>

    </form>
  </div>
</div>

<p class="text-center" ng-show="loading">
  <span class="fa fa-spinner fa-spin fa-3x"></span>
</p>
