<div id="song-form" class="row">
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <form>

      <div class="input-group">
        <input type="text" class="form-control input-lg text-center" placeholder="Enter song title..." ng-model="formData.title">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary btn-lg" ng-click="createSong()">Add</button>
        </span>
      </div>

    </form>
  </div>
</div>

<div id="song-list" class="row">
  <div class="col-sm-8 col-sm-offset-2 text-left">

    <div class="checkbox" ng-repeat="song in songs">
      <button class="btn btn-danger btn-xs" ng-click="deleteSong(song._id)">x</button>
      <a href="/songs/{{song._id}}">{{song.title}}</a>
    </div>

    <p class="text-center" ng-show="loading">
      <span class="fa fa-spinner fa-spin fa-3x"></span>
    </p>

  </div>
</div>
